@use '../..//scss/colors.scss' as *;
.cart {
	position: absolute;
	top: 11.4rem;
	left: 2.4rem;
	display: flex;
	flex-direction: column;
	width: 32.7rem;
	background-color: $white;
	z-index: 30;
	padding: 3.2rem 2.8rem;
	border-radius: 0.8rem;
	border: none;
	&__backdrop {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 20;
	}
	&__heading {
		font-size: 1.8rem;
		letter-spacing: 0.129rem;
		font-weight: bold;
		text-transform: uppercase;
	}
	&__remove-btn {
		opacity: 0.5;
		font-size: 1.5rem;
		line-height: 2.5rem;
		font-weight: 500;
		font-family: 'Manrope', sans-serif;
		background: none;
		border: none;
		text-decoration-line: underline;
		transition: color 0.3s;
	}
	&__box {
		display: flex;
		justify-content: space-between;
	}
	&__info,
	&__list {
		margin-top: 3.1rem;
		margin-bottom: 3.2rem;
	}
	&__info {
		font-weight: bold;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
		&-box-price {
			margin-top: auto;
			margin-bottom: 1.8rem;
			display: flex;
			justify-content: space-between;
		}
		&-box-price > span:first-child {
			font-size: 1.5rem;
			line-height: 2.5rem;
			opacity: 0.5;
			font-weight: 500;
			text-transform: uppercase;
		}
		&-price {
			font-size: 1.8rem;
			font-weight: bold;
		}
	}
}

@media (min-width: 768px) {
	.cart {
		width: 37.7rem;
		left: auto;
		right: 4rem;
	}
}

@media (min-width: 1440px) {
	.cart {
		top: 12.9rem;
		right: calc((100vw - 144rem) / 2 + 16.5rem);

		&__remove-btn {
			transition: color 0.3s;
			cursor: pointer;
		}
		&__remove-btn:hover,
		&__remove-btn:focus {
			color: $orange;
		}
		&__backdrop {
			// top: 9.6rem;
		}
	}
}
