@use '../../scss//typography.scss' as *;
@use '../../scss//colors.scss' as *;
@use '../../scss//UI.scss' as *;

.trendy {
	@include section-mobile;
	margin-top: 12rem;
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
	}
	&__box {
		overflow: hidden;
		border-radius: 0.8rem;
		&--first {
			position: relative;
			padding: 4.9rem 2.3rem 5.5rem;
			text-align: center;
			background-color: $orange;
			z-index: 0;
		}

		&--second {
			min-height: 32rem;
			background-image: url('../../assets/home/mobile/image-speaker-zx7.jpg');
			background-size: cover;
		}
		&--third {
			display: flex;
			flex-direction: column;
			gap: 2.4rem;
			overflow: hidden;
		}
		&-info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 3.2rem;
			padding-left: 2.4rem;

			&--second {
				min-height: 20rem;
				border-radius: 0.8rem;
				background-color: $gray;
			}
		}
	}
	&__heading {
		text-transform: uppercase;
		font-weight: bold;
		&--first {
			margin-top: 3.2rem;
			font-size: 3.6rem;
			color: $white;
			letter-spacing: 1.29px;
			line-height: 4rem;
		}
		&--second {
			font-size: 2.8rem;
			letter-spacing: 0.2rem;
		}
	}
	&__text {
		@include text-body;
		margin: 2.4rem 0;
		color: $white;
		opacity: 0.75;
	}
	&__img {
		width: 100%;
		&--1 {
			width: 17.2rem;
		}

		&--3 {
			height: 20rem;
			border-radius: 0.8rem;
			background-image: url('../../assets/home/mobile/image-earphones-yx1.jpg');
			background-size: cover;
		}
	}
	&__link {
		@include link-text-style;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 16rem;
		height: 4.8rem;
		background: none;
		border: none;
		transition: color 0.3s, background-color 0.3s;
		text-transform: uppercase;
		color: $white;
		border: 1px solid $black;
		background-color: $black;
	}
	&__circles {
		position: absolute;
		top: -20%;
		left: 50%;
		transform: translate(-50%);
		width: 55.8rem;
		height: 55.8rem;
		z-index: -1;
	}
}

@media (min-width: 768px) {
	.trendy {
		margin-top: 9.6rem;
		@include section-tablet;
		&__wrapper {
			gap: 3.2rem;
		}
		&__box {
			&--first {
				padding: 4.9rem 17.1rem 6.4rem;
			}
			&--second {
				background-image: url('../../assets/home/tablet/image-speaker-zx7.jpg');
			}
			&--third {
				flex-direction: row;
				gap: 1.1rem;
			}
			&-info {
				padding-left: 6.2rem;
				&--second {
					flex: 1 1 0px;
					padding-left: 4.1rem;
					min-height: 32rem;
				}
			}
		}
		&__text {
			margin: 2.4rem 0 4rem;
		}
		&__heading {
			&--first {
				margin-top: 6.4rem;
				@include text-h1;
			}
		}
		&__img {
			&--1 {
				width: 19.5rem;
			}

			&--3 {
				flex: 1 1 41px;
				height: 32rem;
				background-image: url('../../assets/home/tablet/image-earphones-yx1.jpg');
			}
		}
		&__circles {
			top: -39.5%;
			width: 94.4rem;
			height: 94.4rem;
		}
	}
}

@media (min-width: 1440px) {
	.trendy {
		@include section-desktop;
		margin: 16.8rem auto 0;
		&__wrapper {
			gap: 4.8rem;
			max-width: 111rem;
			margin: 0 auto;
		}
		&__box {
			&--first {
				height: 56rem;
				padding: 13.3rem 9.5rem 0 12rem;
			}
			&--second {
				background-image: url('../../assets/home/desktop/image-speaker-zx7.jpg');
			}
			&--third {
				gap: 3rem;
			}
			&-content {
				margin-left: auto;
				width: 34.9rem;
				text-align: left;
			}
			&-info {
				padding-left: 9.5rem;
			}
		}
		&__heading {
			&--first {
				margin: 0;
			}
		}
		&__img {
			&--1 {
				position: absolute;
				bottom: -2%;
				left: 12.3%;
				width: 37.3rem;
				height: 45.5rem;
			}

			&--3 {
				flex: 1 1 95px;
				background-image: url('../../assets/home/desktop/image-earphones-yx1.jpg');
			}
		}
		&__circles {
			top: -7%;
			left: 29%;
		}
		&__link {
			margin: 0;
			transition: background-color 0.3s, border 0.3s;
		}
		&__link:hover {
			background-color: #4c4c4c;
			border: 1px solid #4c4c4c;
		}
	}
}
