@use '../../scss/colors.scss' as *;
.nav {
	height: 9rem;
	padding: 2.2rem 0;
	// border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	// background-color: $black16;
	a {
		text-decoration: none;
	}
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__btn {
		padding: 1rem;
		background: none;
		border: none;
	}
	&__cart,
	&__logo {
		padding: 1rem;
	}
	&__link-svg {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__list {
		display: none;
	}
	&__icon {
		fill: $white;
	}
}

@media (min-width: 768px) {
	.nav {
		border-bottom: none;
		padding: 2.2rem 0;
		&__wrapper {
			position: relative;
			justify-content: start;
		}
		&__wrapper:before {
			content: '';
			position: absolute;
			left: 1rem;
			bottom: -2.2rem;
			width: calc(100% - 2rem);
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		}
		&__logo {
			margin-left: 2.2rem;
		}
		&__cart {
			margin-left: auto;
		}
	}
}

@media (min-width: 992px) {
	.nav {
		padding: 2.2rem 0;
		height: 9.6rem;
		&__wrapper {
			margin: 0 auto;
			max-width: 113rem;
		}
		&__wrapper:before {
			content: '';
			position: absolute;
			left: 1rem;
			bottom: -2.8rem;
			width: calc(100% - 2rem);
		}
		&__btn {
			display: none;
		}
		&__list {
			display: flex;
			gap: 3.4rem;
			list-style: none;
		}
		&__link-svg:focus .nav__icon {
			fill: $orange;
		}
		&__icon {
			transition: fill 0.3s;
		}
		&__icon:hover {
			fill: $orange;
		}
		&__wrapper {
			justify-content: space-between;
		}

		&__cart,
		&__logo {
			margin: 0;
		}
	}
}
