@use '../../scss/colors.scss' as *;
@use '../../scss/typography.scss' as *;
@use '../../scss/UI.scss' as *;
.product {
	@include section-mobile;
	&__wrapper {
		margin: 0 auto;
		max-width: 111rem;
	}
	&__link {
		display: block;
		padding: 1rem;
		margin-top: 2.3rem;
		margin-bottom: 1.4rem;
		width: 7.7rem;
		height: 4.5rem;
		font-size: 1.5rem;
		line-height: 2.5rem;
		font-weight: 500;
		font-family: 'Manrope', sans-serif;
		opacity: 0.5;
		background: none;
		border: none;
		color: $black;
		text-decoration: none;
	}
}

@media (min-width: 768px) {
	.product {
		@include section-tablet;
	}
}
@media (min-width: 1440px) {
	.product {
		@include section-desktop;
		&__link {
			margin-top: 7rem;
			margin-bottom: 4.6rem;
			cursor: pointer;
			transition: color 0.3s;
		}
		&__link:hover,
		&__link:focus {
			color: $orange;
		}
	}
}
