@use '../../scss/typography.scss' as *;
@use '../../scss/UI.scss' as *;
.product {
	&__link {
		@include link;
	}
	&__images {
		margin: 8.8rem auto 0;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		max-width: 32.7rem;
		height: 75.6rem;
		&-box {
			&--first {
				display: flex;
				flex-direction: column;
				gap: 2rem;
			}
		}
		&-picture {
			border-radius: 0.8rem;
			width: 100%;
		}
	}
	&__addition {
		&-heading {
			margin-top: 12rem;
			font-size: 2.4rem;
			line-height: 3.6rem;
			letter-spacing: 0.086rem;
			text-transform: uppercase;
			text-align: center;
			font-weight: bold;
		}
		&-list {
			margin: 4rem auto 0;
			list-style: none;
			max-width: 35rem;
			@include flex-c-center;
			gap: 5.6rem;

			&-item {
				display: flex;
				flex-direction: column;
				gap: 3.2rem;
			}
		}
		&-img {
			width: 100%;
		}
		&-box {
			@include flex-c-center;
			gap: 3.2rem;
			&-heading {
				font-size: 2.4rem;
				letter-spacing: 0.171rem;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
}

@media (min-width: 768px) {
	.product {
		&__images {
			margin-top: 12rem;
			max-width: 69rem;
			flex-direction: row;
			gap: 1.8rem;
			height: 36.8rem;
			&-box--first {
				picture {
					max-height: 17.4rem;
				}
			}
		}
		&__addition {
			&-heading {
				margin-top: 12rem;
				@include text-h3;
			}
			&-picture {
				width: 22.3rem;
			}
			&-list {
				margin-top: 5.6rem;
				gap: 1.1rem;
				flex-direction: row;
				&-item {
					gap: 4rem;
				}
			}
		}
	}
}

@media (min-width: 1440px) {
	.product {
		&__images {
			margin-top: 16rem;
			gap: 3rem;
			height: 59.2rem;
			max-width: 111rem;
			&-box--first {
				gap: 3.2rem;
				picture {
					max-height: 28rem;
				}
			}
		}
		&__addition {
			&-heading {
				margin-top: 16rem;
			}
			&-picture {
				width: 35rem;
			}
			&-list {
				margin-top: 6.4rem;
				gap: 3rem;
			}
		}
	}
}
