@use '../scss/colors.scss' as *;
@use '../scss//UI.scss' as *;

.checkout {
	@include section-mobile;
	background-color: $gray;
	&__form {
		padding: 2.4rem;
		background-color: $white;
		border-radius: 0.8rem;
	}
	&__return-btn {
		margin-top: 1.6rem;
		margin-bottom: 2.4rem;
		font-family: 'Manrope', sans-serif;
		font-size: 1.5rem;
		font-weight: 500;
		background: none;
		border: none;
		line-height: 2.5rem;
		opacity: 0.5;
	}
	&__h1 {
		font-size: 2.8rem;
		letter-spacing: 0.1rem;
		font-weight: bold;
		text-transform: uppercase;
	}
}

@media (min-width: 768px) {
	.checkout {
		@include section-tablet;
		background-color: $gray;
		&__form {
			padding: 3rem 2.75rem;
			max-width: 111rem;
			margin: 0 auto;
		}
		&__return-btn {
			margin-top: 4.8rem;
			margin-bottom: 2.4rem;
		}

		&__h1 {
			font-size: 3.2rem;
			letter-spacing: 0.114rem;
			line-height: 3.6rem;
		}
	}
}

@media (min-width: 1440px) {
	.checkout {
		@include section-desktop;
		&__wrapper {
			max-width: 111rem;
			margin: 0 auto;
			display: flex;
			align-items: flex-start;
			gap: 3rem;
		}
		&__form {
			padding: 5.4rem 4.8rem;
			max-width: 73rem;
		}

		&__return-btn {
			margin-top: 8rem;
			margin-bottom: 3.8rem;
		}
	}
}
