@use '../scss//typography.scss' as *;
@use '../scss//colors.scss' as *;
@use '../scss//UI.scss' as *;
// HEADER
// HEADER
// HEADER

.header {
	height: 51rem;
	padding: 0 2.3rem;
	color: $white;
	background-color: $black16;

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	&__heading {
		margin-top: 10.8rem;
		margin-bottom: 1.6rem;
		font-size: 1.4rem;
		letter-spacing: 1rem;
		font-weight: 400;
		text-transform: uppercase;
		opacity: 49.64%;
	}
	&__product {
		margin-bottom: 2.4rem;
		font-size: 3.6rem;
		font-weight: bold;
		letter-spacing: 1.29px;
		line-height: 4rem;
		text-transform: uppercase;
	}
	&__text-body {
		opacity: 0.75;
		margin-bottom: 2.8rem;
		@include text-body;
	}
}

// MAIN
// MAIN
// MAIN

// SECTION PRODUCTS

.products {
	@include section-mobile;
	margin-top: 4rem;
	&__list {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		list-style: none;
		&-item {
			height: 21.7rem;
			text-align: center;
			&-top {
				position: relative;
				height: 5.2rem;
				background: $white;
			}
			&-heading {
				font-size: 1.5rem;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 1.07px;
				margin-bottom: 1.7rem;
			}
			&-link {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 1.3rem;
				font-size: 1.3rem;

				letter-spacing: 0.1rem;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: bold;
				span {
					opacity: 50%;
					color: $black;
				}
			}
		}
		&-box {
			height: 16.5rem;
			padding-top: 8.8rem;
			border-radius: 0.8rem;
			background-color: $gray;
		}
		&-img {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			&--1,
			&--2 {
				width: 14rem;
				height: 14.4rem;
			}

			&--3 {
				width: 16.7rem;
				height: 16.7rem;
			}
		}
	}
}

.trendy {
	margin-top: 12rem;
	&__wrapper {
		@include section-mobile;
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
	}
	&__box {
		overflow: hidden;
		border-radius: 0.8rem;
		&--first {
			position: relative;
			padding: 4.9rem 2.3rem 5.5rem;
			text-align: center;
			background-color: $orange;
			z-index: 0;
		}

		&--second {
			min-height: 32rem;
			background-image: url('../assets/home/mobile/image-speaker-zx7.jpg');
			background-size: cover;
		}
		&--third {
			display: flex;
			flex-direction: column;
			gap: 2.4rem;
			overflow: hidden;
		}
		&-info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 3.2rem;
			padding-left: 2.4rem;

			&--second {
				min-height: 20rem;
				border-radius: 0.8rem;
				background-color: $gray;
			}
		}
	}
	&__heading {
		text-transform: uppercase;
		font-weight: bold;
		&--first {
			margin-top: 3.2rem;
			font-size: 3.6rem;
			color: $white;
			letter-spacing: 1.29px;
			line-height: 4rem;
		}
		&--second {
			font-size: 2.8rem;
			letter-spacing: 0.2rem;
		}
	}
	&__text {
		@include text-body;
		margin: 2.4rem 0;
		color: $white;
		opacity: 0.75;
	}
	&__img {
		width: 100%;
		&--1 {
			width: 17.2rem;
		}

		&--3 {
			height: 20rem;
			border-radius: 0.8rem;
			background-image: url('../assets/home/mobile/image-earphones-yx1.jpg');
			background-size: cover;
		}
	}
	&__link {
		@include link-text-style;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 16rem;
		height: 4.8rem;
		background: none;
		border: none;
		transition: color 0.3s, background-color 0.3s;
		text-transform: uppercase;
		color: $white;
		border: 1px solid $black;
		background-color: $black;
	}
	&__circles {
		position: absolute;
		top: -20%;
		left: 50%;
		transform: translate(-50%);
		width: 55.8rem;
		height: 55.8rem;
		z-index: -1;
	}
}

.info {
	@include section-mobile;
	margin-top: 12rem;
	&__wrapper {
		height: 69.8rem;
		display: flex;
		flex-direction: column;
		gap: 4rem;
	}
	&__picture {
		display: block;
		border-radius: 0.8rem;
		overflow: hidden;
		height: 30rem;
		&-img {
			width: 100%;
		}
	}
	&__box {
		display: flex;
		flex-direction: column;
		gap: 3.2rem;
		text-align: center;
	}
	&__heading {
		font-size: 2.8rem;
		letter-spacing: 0.1rem;
		font-weight: bold;
		text-transform: uppercase;
		span {
			color: $orange;
		}
	}
	&__text {
		@include text-body;
		opacity: 0.5;
	}
}

@media (min-width: 768px) {
	.header {
		height: 63.9rem;
		&__wrapper {
			margin: 0 auto;
			width: 100%;
			max-width: 130rem;
		}
		&__box {
			margin: 0 auto;
			width: 37.9rem;
		}
		&__heading {
			margin-top: 12.6rem;
			margin-bottom: 2.4rem;
		}
		&__product {
			@include text-h1;
		}
		&__text-body {
			width: 34.9rem;
			margin-bottom: 4rem;
		}
	}

	////////////////////////////////////////
	/// ///////////////////////////////////////

	.products {
		@include section-tablet;
		margin-top: 9.6rem;
		&__list {
			display: flex;
			flex-direction: row;
			gap: 1rem;
			&-item {
				flex-grow: 1;
			}
		}
	}
	.trendy {
		margin-top: 9.6rem;
		&__wrapper {
			@include section-tablet;
			gap: 3.2rem;
		}
		&__box {
			&--first {
				padding: 4.9rem 17.1rem 6.4rem;
			}
			&--second {
				background-image: url('../assets/home/tablet/image-speaker-zx7.jpg');
			}
			&--third {
				flex-direction: row;
				gap: 1.1rem;
			}
			&-info {
				padding-left: 6.2rem;
				&--second {
					flex: 1 1 0px;
					padding-left: 4.1rem;
					min-height: 32rem;
				}
			}
		}
		&__text {
			margin: 2.4rem 0 4rem;
		}
		&__heading {
			&--first {
				margin-top: 6.4rem;
				@include text-h1;
			}
		}
		&__img {
			&--1 {
				width: 19.5rem;
			}

			&--3 {
				flex: 1 1 41px;
				height: 32rem;
				background-image: url('../assets/home/tablet/image-earphones-yx1.jpg');
			}
		}
		&__circles {
			top: -39.5%;
			width: 94.4rem;
			height: 94.4rem;
		}
	}
	.info {
		@include section-tablet;
		margin-top: 9.6rem;
		&__wrapper {
			height: auto;
			gap: 6.3rem;
			align-items: center;
		}
		&__box {
			max-width: 57.3rem;
		}
		&__heading {
			@include text-h2;
		}
	}
}

@media (min-width: 992px) {
	.header {
		@include section-desktop;
		height: auto;
		min-height: 63.3rem;

		&__box {
			margin: 0;
			align-items: start;
			text-align: left;
		}
		&__heading {
			margin-top: 12.9rem;
			margin-bottom: 2.4rem;
		}
		&__product {
			@include text-h1;
		}
		&__text-body {
			width: 34.9rem;
			margin-bottom: 4rem;
		}
	}
	.info {
		margin-top: 16rem;
		&__wrapper {
			margin: 0 auto;
			flex-direction: row;
			height: 58.8rem;
			gap: 7rem;
			justify-content: space-between;
			align-items: center;
		}
		&__picture {
			order: 2;
			min-height: 100%;
			&-img {
				min-height: 100%;
				object-fit: cover;
			}
		}
		&__box {
			width: 44.5rem;
			text-align: left;
		}
		&__heading {
			@include text-h2;
		}
	}
}

@media (min-width: 1240px) {
	.products {
		@include section-desktop;
		margin-top: 12rem;
		&__list {
			max-width: 111rem;
			margin: 0 auto;
			gap: 3rem;
			&-item {
				height: 28.4rem;
				cursor: pointer;
				&-top {
					height: 8rem;
				}
				&-heading {
					font-size: 1.8rem;
					letter-spacing: 0.13rem;
					margin-bottom: 1.5rem;
				}
				span {
					transition: color 0.3s;
				}
			}
			&-box {
				height: 20.4rem;
				padding-top: 11.6rem;
			}
			&-item:hover span {
				color: $orange;
			}
			&-img {
				&--1,
				&--2 {
					width: 20rem;
					height: 20rem;
				}
				&--2 {
					top: 0.75rem;
				}

				&--3 {
					top: 2.1rem;
					width: 20rem;
					height: 20rem;
				}
			}
		}
	}
	.info {
		&__wrapper {
			max-width: 111rem;
		}
	}
}

@media (min-width: 1440px) {
	.trendy {
		margin: 16.8rem auto 0;
		max-width: 144rem;
		&__wrapper {
			@include section-desktop;
			gap: 4.8rem;
		}
		&__box {
			&--first {
				height: 56rem;
				padding: 13.3rem 9.5rem 0 12rem;
			}
			&--second {
				background-image: url('../assets/home/desktop/image-speaker-zx7.jpg');
			}
			&--third {
				gap: 3rem;
			}
			&-content {
				margin-left: auto;
				width: 34.9rem;
				text-align: left;
			}
			&-info {
				padding-left: 9.5rem;
			}
		}
		&__heading {
			&--first {
				margin: 0;
			}
		}
		&__img {
			&--1 {
				position: absolute;
				bottom: -2%;
				left: 12.3%;
				width: 37.3rem;
				height: 45.5rem;
			}

			&--3 {
				flex: 1 1 95px;
				background-image: url('../assets/home/desktop/image-earphones-yx1.jpg');
			}
		}
		&__circles {
			top: -7%;
			left: 29%;
		}
		&__link {
			margin: 0;
			transition: background-color 0.3s, border 0.3s;
		}
		&__link:hover {
			background-color: #4c4c4c;
			border: 1px solid #4c4c4c;
		}
	}
	.info {
		@include section-desktop;
		margin-top: 20rem;
		&__wrapper {
			gap: 12.5rem;
		}
	}
}
