.nav {
	height: 9rem;
	padding: 2.2rem 1.4rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	a {
		text-decoration: none;
	}
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__btn {
		padding: 1rem;
		background: none;
		border: none;
	}
	&__cart,
	&__logo {
		padding: 1rem;
	}
}

@media (min-width: 768px) {
	.nav {
		border-bottom: none;
		padding: 2.2rem 2.9rem;
		&__wrapper {
			position: relative;
			justify-content: start;
		}
		&__wrapper:before {
			content: '';
			position: absolute;
			left: 1.05rem;
			bottom: 0;
			width: 68.9rem;
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		}
		&__logo {
			margin-left: 2.2rem;
		}
		&__cart {
			margin-left: auto;
		}
	}
}
