$orange: rgb(216, 125, 74);

$white: rgb(255, 255, 255);

$black: rgb(0, 0, 0);

$black16: rgb(16, 16, 16);

$gray: rgb(241, 241, 241);

//faded
$forange: rgb(251, 175, 133);

$fgray: rgb(250, 250, 250);
